/*.rodape{
    background:linear-gradient(to right, #9a61f5 0%, #4793f7 100%);
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 5px 5px 0 0;
    margin-top: 60px;
    padding: 15px;
    font-weight: bold
    
}
.rodape a {
    color: aliceblue;
    text-decoration: none;
}
.rodape a:hover{
    text-decoration: underline;

}
hr{
    border-color: aliceblue;
}
*/
.icon{
    width: 50px;
    height: 50px;
    margin: 0px;

    padding: 3px;
}

/*
@media(max-width:500px){
    .nossoProjeto{
        display: none;
    }
    #logoRodape{
        display: none;
    }
    
}*/


*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



/*
  .Contato-app-title, button, input {
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  }
  
  .ContatoBackground {
    display: flex;
    min-height: 50vh;
  }
  
  .ContatoContainer {
    
  margin-top: 50px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: none;
  }
  
  .ContatoScreen {
    position: relative;
    background: linear-gradient(to right, #222020a9 10%, #9c0000b7 100%);
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    border-radius: 25px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.938);
    z-index: -1;
  }
  
  .Contato-Screen-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: #4848aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .Contato-Screen-header-left {
    margin-right: none;
  }
  
  .Contato-Screen-header-button {
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    border-radius: 12px;
    background: none;
  }
  
  
  .Contato-Screen-header-button.maximize {
    background: #aa4c34;
  }
  
  .Contato-Screen-header-button.minimize {
    background: #c5a64f;
  }
  
  .Contato-Screen-header-right {
    display: inline-block;
  }
  
  
  
  .Contato-screen-body {
    display:flex;
  }
  
  .Contato-screen-body-item {
    flex: 1;
    padding: 15px;
  }
  
  .Contato-screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .Contato-app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-size: 26px;
    text-shadow: 5px 5px 10px 5px rgb(134, 46, 127);
  }
  
  .Contato-app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 2px;
    background: #ffffff;
  }
  
  .Contato-app-contact {
    margin-top: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
  }
  
  .Contato-app-form-group {
    margin-bottom: 50px;
  }
  
  .Contato-app-form-group.message {
    margin-top: 40px;
  }
  
  .Contato-app-form-group.buttons {
    margin-bottom: 0;
    text-align: center;
    margin: 30px;
  }
  
  .Contato-app-form-control {
    width: 100%;
    padding: 12px 0;
    background: none;
    border: none;
    border-bottom: 1.5px solid rgb(0, 0, 0);
  
    color: rgb(106, 113, 170);
    font-size: 24px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .Contato-app-form-control::placeholder {
    color: rgb(230, 230, 230);
  }
  
  .Contato-app-form-control:focus {
    border-bottom-color: rgb(249, 241, 255);
  }
  
  .Contato-app-form-button {
    display: inline-block;
    border: 4px;
    margin: 10px;
    color: #53406b;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-left: 6px;
    margin-right: 6px;
    background:linear-gradient(to left, #8856da 0%, #4793f7 100%);
    color: rgb(250, 250, 250);
    padding: 0.5em 2em;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 5px 5px 2px 1px rgba(134, 46, 127, 0.52);

  
  
  }
  
  .Contato-app-form-button:hover {
    color: #6165a5;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .Contato-screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .Contato-app-title {
      flex-direction: row;
    }
  
    .Contato-app-title span {
      margin-right: 12px;
      font-size: 30px;
    }
  
    .Contato-app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .Contato-screen-body {
      padding: 40px;
    }
  
    .Contato-screen-body-item {
      padding: 0;
    }
  }
  
  #iconGroup{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  
  #iconGroup a{
    margin: 0 0.6rem;
    text-size-adjust: 250;
  }
  
  #alternativeLogin {
     text-align: center;
     padding-top: 2rem;
     margin-top: 130px;
  }
  */

  .ContatoBackground {
    display: flex;
    min-height: 0px;
    background-color: #5a62d6;
    margin-top: 20px;
    margin-bottom: none;
    padding-bottom: 0%;
  }
  
  .ContatoContainer {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .ContatoScreen {
    background:linear-gradient(to right, #7a391a 0%, #862a1e 100%);
    border-radius: 15px;
    width: 100%;
    box-shadow: 50px 20px 40px rgba(0, 0, 0, .4);
  }
  
  .Contato-Screen:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
   
    z-index: -1;
  }
  
  .Contato-Screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #727aeb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .Contato-Screen-header-left {
    margin-right: auto;
  }
  
  .Contato-Screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
   
  }
  
  
  
  
  .Contato-screen-header-right {
    display: flex;
  }
  
  .Contato-screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .Contato-screen-body {
    display: flex;
  }
  
  .Contato-screen-body-item {
    flex: 1;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;


  }
  
  .Contato-screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .Contato-app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #727aeb;
    font-size: 45px;
    text-align: center;


  }
  
 
  
  .Contato-app-contact {
    margin-top: auto;
    font-size: 10px;
    color: rgb(149, 140, 236);
    text-align: center;
  }
  
  .Contato-app-form-group {
    margin-bottom: 15px;
  }
  
  .Contato-app-form-group.message {
    margin-top: 40px;
  }
  
  .Contato-app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .Contato-app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .Contato-app-form-control::placeholder {
    color: rgb(91, 102, 165);
  }
  
  .Contato-app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .Contato-app-form-button {
    background: none;
    border: none;
    color: #727aeb;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 10px;
  }
  
  .Contato-app-form-button:hover {
    color: #5a62d6;
  }
  
  
  .Contato-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    
  }
  
  @media screen and (max-width: 520px) {
    .Contato-screen-body {
      flex-direction: column;
    }
  
    .Contato-screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .Contato-app-title {
      flex-direction: row;
    }
  
    .Contato-app-title span {
      margin-right: 6px;
    }
  
    
  }
  
  @media screen and (max-width: 600px) {
    .Contato-screen-body {
      padding: 40px;
    }
  
    .Contato-screen-body-item {
      padding: 0;
    }
  }
  #iconGroup{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    mask-composite: black;
    text-align: center;
  }
  
  #iconGroup a{
    margin: 0 0.6rem;
    text-size-adjust: 250;
    text-align: center;
  }
  
  #alternativeLogin {
     text-align: center;
    
     margin-top: 5px;
  }

  .Imgcontato{
   
 padding-top: 50px;
    align-self: center;
    margin-top: -170px;
    margin-left: 25%;
    padding-top: 50px;
    }
.ContatoCompleto{

  width: 100%;

  background-color: #5a62d6;
}