body{
    background:radial-gradient( #f08e81 40%, #ff7765 100%);
    
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin-bottom: 0%;
    padding-bottom: 5px;
}
